---
layout: page_title
title: <i class="fa fa-home fa-lg"></i>
titlename: 首页
---
<div class="aside3-slogan">
  <h3>
    <span style="color: #000000; ">对</span>
    <span style="color: #000000; ">代</span>
    <span style="color: #000000; ">码</span>
    <span style="color: #000000; ">的</span>
    <span style="color: #000000; ">不</span>
    <span style="color: #000000; ">满</span>
    <span style="color: #000000; ">足</span>
    <span style="color: #000000; ">，</span>
    <span style="color: #000000; ">是</span>
    <span style="color: #000000; ">所</span>
    <span style="color: #000000; ">有</span>
	<span style="color: #000000; ">程</span>
    <span style="color: #000000; ">序</span>
    <span style="color: #000000; ">员</span>
    <span style="color: #000000; ">的</span>
    <span style="color: #000000; ">本</span>
    <span style="color: #000000; ">质</span>
    <span style="color: #000000; ">特</span>
	<span style="color: #000000; ">征</span>
  </h3>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">{{ site.locals.newest }}</div>
      {% for post in paginator.posts %}
        <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
          {{post.title}}
          <span class="badge">{{ post.date | date:"%Y 年 %m 月 %d 日" }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
  {% for cate in site.cates %}
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">{{ cate }}</div>
        {% for tag in site.tags %} 
          {% if tag[0] == cate %}
            {% for post in tag[1] %}
              <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
                {{post.title}}
                <span class="badge">{{ post.date | date:"%Y 年 %m 月 %d 日" }}</span>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
 
